@model CompFacil.LojaVirtual.Dominio.Entidades.Produto

<div class="well">
    <div class="pull-left" style="margin-right: 10px">
        @if (Model.Imagem != null)
        {
            <img class="img-thumbnail" width="120" height="120" src="@Url.Action("ObterImagem", "Produto", new { Model.ProdutoID })" />
        }
    </div>
    <h3>
        <strong>@Model.Nome</strong>
        <span class="pull-right label label-primary" height="70">@Model.Preco.ToString("c")</span>
    </h3>
        @using (Html.BeginForm("Adicionar", "Carrinho"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProdutoID)
                @Html.Hidden("ReturnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Comprar" />
            </div>
        }
        <span class="lead">@Model.Descricao</span>
</div>